@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>Add a new stylist</h1>
@using (Html.BeginForm())
{
  <div class="row">
    <div class="col-7">
      <h2>Stylist Information</h2>
      <div class="form-group">
        <div class="row">
          <div class="col-6">
            @Html.TextBoxFor(model => model.FirstName, new { @required = "required", @class="form-control form-control-lg", placeholder = "First Name"})
          </div>
          <div class="col-6">
            @Html.TextBoxFor(model => model.LastName, new { @required = "required", @class="form-control form-control-lg", placeholder = "Last Name"})
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-6">
            @Html.TextBoxFor(model => model.PriorExperienceInYears, new { @type = "number", @min = 0, @required = "required", @class="form-control form-control-lg", placeholder="Years Experience"})
          </div>
          <div class="col-6">
            @Html.TextBoxFor(model => model.Specialty, new { @type = "num", @required = "required", @class="form-control form-control-lg", placeholder="Specialty" })
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-2">
            <label for="HireDate" class="col-form-label col-form-label-md">Hire Date</label>
          </div>
          <div class="col-4">
            @Html.TextBoxFor(model => model.HireDate, new { @type = "date", @required = "required", @class="form-control form-control-lg"})
          </div>
          <div class="col-6">
            @Html.TextBoxFor(model => model.Position, new { @required = "required", @class="form-control form-control-lg", placeholder="Position"})
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <h2>Stylist Schedule</h2>
      <div class="row">
        <div class="col-6">
          @Html.DropDownList("ShiftStart", new List<SelectListItem>
        {
        new SelectListItem { Text = "Shift Start", Selected=true, Disabled=true},
        new SelectListItem { Text = "8:00 AM", Value = "08:00:00"},
        new SelectListItem { Text = "8:30 AM", Value = "08:30:00"},
        new SelectListItem { Text = "9:00 AM", Value = "09:00:00"},
        new SelectListItem { Text = "9:30 AM", Value = "09:30:00"},
        new SelectListItem { Text = "10:00 AM", Value = "10:00:00"},
        new SelectListItem { Text = "10:30 AM", Value = "10:30:00"},
        new SelectListItem { Text = "11:00 AM", Value = "11:00:00"},
        new SelectListItem { Text = "11:30 AM", Value = "11:30:00"},
        new SelectListItem { Text = "12:00 PM", Value = "12:00:00"},
        new SelectListItem { Text = "12:30 PM", Value = "12:30:00"},
        new SelectListItem { Text = "1:00 PM", Value = "13:00:00"},
        new SelectListItem { Text = "1:30 PM", Value = "13:30:00"},
        new SelectListItem { Text = "2:00 PM", Value = "14:00:00"},
        new SelectListItem { Text = "2:30 PM", Value = "14:30:00"},
        new SelectListItem { Text = "3:00 PM", Value = "15:00:00"}
        }, new { @required = "required", @class="form-control form-control-lg"})
        </div>
        <div class="col-6">
          @Html.DropDownList("ShiftEnd", new List<SelectListItem>
        {
        new SelectListItem { Text = "Shift End", Selected=true, Disabled=true},
        new SelectListItem { Text = "1:00 PM", Value = "13:00:00"},
        new SelectListItem { Text = "1:30 PM", Value = "13:30:00"},
        new SelectListItem { Text = "2:00 PM", Value = "14:00:00"},
        new SelectListItem { Text = "2:30 PM", Value = "14:30:00"},
        new SelectListItem { Text = "3:00 PM", Value = "15:00:00"},
        new SelectListItem { Text = "3:30 PM", Value = "15:30:00"},
        new SelectListItem { Text = "4:00 PM", Value = "16:00:00"},
        new SelectListItem { Text = "4:30 PM", Value = "16:30:00"},
        new SelectListItem { Text = "5:00 PM", Value = "17:00:00"},
        new SelectListItem { Text = "5:30 PM", Value = "17:30:00"},
        new SelectListItem { Text = "6:00 PM", Value = "18:00:00"},
        new SelectListItem { Text = "6:30 PM", Value = "18:30:00"},
        new SelectListItem { Text = "7:00 PM", Value = "19:00:00"},
        new SelectListItem { Text = "7:30 PM", Value = "19:30:00"},
        new SelectListItem { Text = "8:00 PM", Value = "20:00:00"},
        new SelectListItem { Text = "8:30 PM", Value = "20:30:00"},
        new SelectListItem { Text = "9:00 PM", Value = "21:00:00"}
        }, new { @required = "required", @class="form-control form-control-lg"})
        </div>
      </div>
      <div class="row" id="schedule-days-of-week">
        <div class="col">
          <div data-toggle="buttons">
            <label class="btn btn-light schedule-day-of-week-label">
              <input type="checkbox" class="invisible schedule-day-of-week-check" name="Sunday" id="Sunday" autocomplete="off">Sunday
            </label>
            <label class="btn btn-light schedule-day-of-week-label">
              <input type="checkbox" class="invisible schedule-day-of-week-check" name="Monday" id="Monday" autocomplete="off">Monday
            </label>
            <label class="btn btn-light schedule-day-of-week-label">
              <input type="checkbox" class="invisible schedule-day-of-week-check" name="Tuesday" id="Tuesday" autocomplete="off">Tuesday
            </label>
          </div>
          <div data-toggle="buttons">
            <label class="btn btn-light schedule-day-of-week-label">
              <input type="checkbox" class="invisible schedule-day-of-week-check" name="Wednesday" id="Wednesday" autocomplete="off">Wednesday
            </label>
            <label class="btn btn-light schedule-day-of-week-label">
              <input type="checkbox" class="invisible schedule-day-of-week-check" name="Thursday" id="Thursday" autocomplete="off">Thursday
            </label>
          </div>
          <div data-toggle="buttons">
            <label class="btn btn-light schedule-day-of-week-label">
              <input type="checkbox" class="invisible schedule-day-of-week-check" name="Friday" id="Friday" autocomplete="off">Friday
            </label>
            <label class="btn btn-light schedule-day-of-week-label">
              <input type="checkbox" class="invisible schedule-day-of-week-check" name="Saturday" id="Saturday" autocomplete="off">Saturday
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  @Html.HiddenFor(model => model.ScheduledDays, new {id = "ScheduledDays"})
  @*<input type="hidden" value="0,0,0,0,0,0,0" id="ScheduledDays" name="ScheduledDays">*@
  <script>
    $(".schedule-day-of-week-label").on('click', function (event) {
      let daysOfWeek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
      let scheduledDays = "";
      daysOfWeek.forEach(function (day) {
        if (day == "Saturday") {
          if ($('#' + day).is(":checked")) {
            scheduledDays += "1"
          } else {
            scheduledDays += "0";
          }
        } else {
          if ($('#' + day).is(":checked")) {
            scheduledDays += "1,"
          } else {
            scheduledDays += "0,";
          }
        }
      });
      $("#ScheduledDays").attr("value", scheduledDays);
    });

  </script>
  <input type="submit" value="Add new stylist" class="btn btn-light schedule-day-of-week-label" />
}