@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;

@if (@Model.Count == 0)
{
  <h3>No stylists have been added yet!</h3>
}

@for (int x = 0; x < @Model.Count; x++)
{
  if (x == 0 || (x % 2 == 0))
  {
    @:<div class="row">
  }
    <div class="col-lg-6">
      <div class="card stylist-cards">
        <div class="card-body">
          <div class="row  align-items-end">
            <div class="col-8">
              <h3 class="card-title">
              @Model[x].FirstName @Model[x].LastName
              </h3>
            </div>
            <div class="col-4 text-end">
              <h4 class="card-title">@Model[x].Position</h4>
            </div>
          </div>
          <hr class="no-margin-top">
          <div class="row">
            <div class="col-5">
              <p class="card-text"><strong>Speciality</strong><br>@Model[x].Specialty</p>
            </div>
            <div class="col-7 text-end">
              <strong>Schedule<br></strong>@(DateTime.Today.Add(Model[x].ShiftStart).ToString("hh:mm tt")) - @(DateTime.Today.Add(Model[x].ShiftEnd).ToString("hh:mm tt"))<br>
              @{string schedule = "";}
              @if (@Model[x].ScheduledSunday)
              {
                schedule += "Sun / ";
              }
              @if (@Model[x].ScheduledMonday)
              {
                schedule += "Mon / ";
              }
              @if (@Model[x].ScheduledTuesday)
              {
                schedule += "Tues / ";
              }
              @if (@Model[x].ScheduledWednesday)
              {
                schedule += "Wed / ";
              }
              @if (@Model[x].ScheduledThursday)
              {
                schedule += "Thurs / ";
              }
              @if (@Model[x].ScheduledFriday)
              {
                schedule += "Fri / ";
              }
              @if (@Model[x].ScheduledSaturday)
              {
                schedule += "Sat / ";
              }
              @{schedule = schedule.Remove(schedule.Length - 2, 2);}
              @schedule
            </div>
          </div>
          <div class="row stylists-row-split">
            <div class="col-6">
              <strong>Hire Date</strong><br> @Model[x].HireDate.ToString("MM/dd/yyyy")
            </div>
            <div class="col-6 text-end">
              <strong>Prior Experience</strong><br>@Model[x].PriorExperienceInYears years
            </div>
          </div>
        </div>
        <div class="card-header text-center bottom-of-stylist-cards"><a class="btn btn-light salon-button" href='stylists/@Model[x].StylistId'>Modify</a></div>
      </div>
    </div>

  if (x % 2 != 0)
  {
    @:</div>
  }
}