@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Customer>;
@if (@Model.Count == 0)
{
  <h3>No customers have been added yet! Make sure to add a stylist before adding a customer.</h3>
}

@* Table Sort from Bootstrap-Table
  https://github.com/wenzhixin/bootstrap-table
*@
<table table data-toggle="table" data-classes="table table-hover table-condensed" data-striped="true" data-sort-name="Quality" data-sort-order="desc">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col" data-sortable="true">Name</th>
      <th scope="col">Stylist</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col" data-sortable="true">Birthday</th>
      <th scope="col" data-sortable="true">Visits</th>
      <th scope="col">Preferred Cut</th>
    </tr>
  </thead>
  <tbody>
    @foreach (Customer customer in Model)
    {
      <tr>
        <td>@customer.CustomerId</td>
        <td>@customer.Name</td>
        <td>@customer.StylistId</td>
        <td><a href="mailto:@customer.Email" class="link-dark">@customer.Email</a></td>
        @if (@customer.Phone <= 0)
        {
          <td>Unavailable</td>
        }
        else
        {
          <td>@String.Format("{0:(###) ###-####}", @customer.Phone)</td>
        }
        <td>@customer.Birthday.ToString("MM/dd/yyyy")</td>
        <td>@customer.TimesVisited</td>
        <td>@customer.PreferredCut</td>
      </tr>
    }
  </tbody>
</table>
