@{
  Layout = "_Layout";
}
@using HairSalon.Models;
@model HairSalon.Models.Customer;
<div class="row">
  <div class="col-lg-5">
    <h1>On Shift</h1>
    <div class="row stylists-on-shift">
      <div class="col">
        <a href="stylists/1" class="card-links">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">
                Barbra Streisand
              </h3>
              <p class="card-text">
              <div class="row">
                <div class="col">
                  <strong>Speciality</strong>: Buzzcuts
                </div>
                <div class="col">
                  <strong>Scheduled</strong>: 8AM - 5PM
                </div>
              </div>
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row stylists-on-shift">
      <div class="col">
        <a href="stylists/1" class="card-links">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">
                Barbra Streisand
              </h3>
              <p class="card-text">
              <div class="row">
                <div class="col">
                  <strong>Speciality</strong>: Buzzcuts
                </div>
                <div class="col">
                  <strong>Scheduled</strong>: 8AM - 5PM
                </div>
              </div>
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-1">
  </div>
  <div class="col-lg-6">
    <h1>Customer Quick Add</h1>
    <p>Use this section to quickly add a customer with only the required information. If you'd like to add a customer with more information, please navgiate to the New Customer page from the menu at the top.</p>
    @using (Html.BeginForm("create", "customers"))
    {
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="Name">Name</label>
            @Html.TextBoxFor(model => model.Name, new {@class = "form-control", required = "required"})
          </div>
          <div class="col">
            <label for="StylistId">Stylist</label>
            @Html.DropDownList("StylistId", @ViewBag.Stylists as List<SelectListItem>, "Select Stylist",new { @class = "form-control"})
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="PreferredCut">Cut Type</label>
            @Html.TextBoxFor(model => model.PreferredCut, new {@class = "form-control", required = "required"})
          </div>
          <div class="col">
            <div class="form-group">
              <label for="Email">Email</label>
              @Html.TextBoxFor(model => model.Email, new {@class = "form-control", type="email", @required = "required"})
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-dark">Add Customer</button>
    }
  </div>
</div>